NEXT_PUBLIC_API_KEY=AIzaSyBCnpZUWXn6sTbmfXIMgYJqbpeuJqniJ8I

NEXT_PUBLIC_AUTH_DOMAIN=<firebase_auth_domain>
NEXT_PUBLIC_PROJECT_ID=<firebase_project_id>
NEXT_PUBLIC_STORAGE_BUCKET=<firebase_storage_bucket>
NEXT_PUBLIC_MESSAGING_SENDER_ID=<firebase_mess_sender_id>
NEXT_PUBLIC_APP_ID=<firebase_app_id>
NEXT_PUBLIC_MEASUREMENT_ID=<firebase_mess_id>

FIREBASE_PROJECT_ID=<firebase_project_id>
FIREBASE_TYPE=service_account
FIREBASE_PRIVATE_KEY_ID=<firebase_private_key_id>
FIREBASE_PRIVATE_KEY=<firebase_private_key>
FIREBASE_CLIENT_EMAIL=<firebase_client_email>
FIREBASE_CLIENT_ID=<firebase_client_id>
FIREBASE_AUTH_URI=<firebase_auth_uri>
FIREBASE_TOKEN_URI=<firebase_token_uri>
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=<firebase_auth_provider_x509>
FIREBASE_AUTH_CLIENT_X509_CERT_URL=<firebase_auth_client>

ADMIN_PRIVATE_KEY=<admin_private_key>
NEXT_PUBLIC_NFTR_DOMAIN=localhost:4040

NEXT_PUBLIC_CONTRACT_ADDRESS=0xfE78059B842C126fDA67B5efe167E69FD2C0131F
NEXT_PUBLIC_MARKETPLACE_ADDRESS=0xED517B289680DfF541bb4473A85FE9a7ED389e3A
NEXT_PUBLIC_CHAINS=[80001]
NEXT_PUBLIC_DESIRED_CHAIN_ID=80001
NEXT_PUBLIC_NETWORK_NAME=mumbai
NEXT_PUBLIC_MARKUP_TIMES_VALUE=1.1

NEXT_PUBLIC_ALCHEMY_NETWORK=polygon-mumbai
NEXT_PUBLIC_ALCHEMY_API_KEY=Ahb40nCV4mo6cGx8ooy-_Y_b-dioI7VE
